{
	"user": "imap-username",
	"password": "imap-password",
	"host": "imap-host",
	"port": 993,
	"tls": true,
	"openwith": "browser",
	"url": "https://mail.google.com/mail/u/0/#inbox/",
	"source": "mail",
	"sourcebg": "black",
	"sourcefg": "whiteBright"
	"response_host": "awesomehost.com",
	"response_port": "8081",
	"unreadSyncInterval": "60",
	"mailplugin-ssl-key": "mailplugin-key.pem",
	"mailplugin-ssl-cert": "mailplugin-cert.pem",
	"label_contexts": {
		"default": {
			"context": "gmail",
			"contextbg": "red",
			"contextfg": "whiteBright"
		},
		"Spam": {
			"context": "spam",
			"contextbg": "white",
			"contextfg": "black"
		},
		"Work": {
			"context": "work",
			"contextbg": "red",
			"contextfg": "black"
		}
	}
}
