{
	"host": "example.com",
	"port": "8888",
	"autoMarkRead": true,
	"numReadToKeep": 1000,
	"ssl-key": "nodifier-key.pem",
	"ssl-cert": "nodifier-cert.pem",
	"programs": {
		"browser": "chromium"
	}
}
