var config = {
    "host": "https://fruitiex.org", // nodifier server host, note: http/https
    "port": "8888",                 // http <-> https proxy listen port
    "tls": true,                    // use tls
    "numReadToKeep": 1000,          // how many read notifications to remember
    "programs": {                   // used by CLI client to constrain which programs can be launched
        "browser": {
            "executable": "chromium",
            "sync": false,
            "stdio": [ 'ignore', 'ignore', 'ignore' ],
            "detached": true,
            "unref": true
        },
        "irc": {
            "executable": "i",
            "sync": true,
            "stdio": [ false, false, '/dev/null' ],
            "detached": false,
            "unref": false
        }
    }
};

module.exports = config;
