{
	"user": "imap-username",
	"password": "imap-password",
	"host": "imap-host",
	"port": 993,
	"tls": true,
	"source": "Gmail",
	"app": "browser",
	"url": "https://mail.google.com/mail/u/0/#inbox/",
	"colorbg": "red",
	"colorfg": "whiteBright"
	"response_host": "awesomehost.com",
	"response_port": "8081",
	"unreadSyncInterval": "60"
}
