{
	"user": "imap-username",
	"password": "imap-password",
	"host": "imap-host",
	"port": 993,
	"tls": true,
	"source": "Gmail",
	"app": "browser",
	"url": "https://mail.google.com",
	"colorbg": "red",
	"colorfg": "whiteBright"
}
